[2015-07-30 22:16] JosephCastro opened #1 "ReferenceError: HAR is not defined"
Hi
First, thanks for this plugin, it will be a really helpful.

Trying to execute (follow the readme) I get this error ReferenceError: HAR is not defined and I can't figure out what is wrong.

Thanks again

[2015-08-03 09:44] janodvarko commented on #1
Are you using Firefox Nightly?

Honza

[2015-08-04 15:05] JosephCastro commented on #1
I'm using Firefox 35 - 39
D:
I get errors using Nightly with selenium

[2015-08-04 15:54] janodvarko commented on #1
The extension requires Firefox 42+

There is a patch included in 42 that's needed by this extension

See more:
https://bugzilla.mozilla.org/show_bug.cgi?id=1184889

Honza

[2015-08-17 18:24] JosephCastro commented on #1
I using Firefox Dev Edition 42.0a2, but I get other kinds of errors like, problems to load the profile, to install unsigned extensions, but nothing related to this extension.

It's seem to be a problem with selenium because is a new version of FF.

In the other hand I tested manually and I get the same problem: HAR is not defined

[2015-08-20 13:42] janodvarko commented on #1
Thanks for the feedback!

I released new version (beta 3)
https://github.com/firebug/har-export-trigger/releases
- It's uploaded on AMO, but awaiting preliminary review, so you might still use
  the following pref to disabled the signing check:

xpinstall.signatures.required

I've been carefully testing with Nightly and DevEdition and works for me

Here is a test page:
http://janodvarko.cz/har/tes

[2015-08-21 18:11] JosephCastro commented on #1
Nice!
Works fine!!
Thanks you.

[2015-08-21 18:11] #1 closed, assigned to janodvarko

[2015-08-21 18:20] janodvarko commented on #1
Excellent, thanks for the feedback

Honza

[2015-09-02 14:30] thegreyfawkes opened #2 "HAR Export Trigger to work with single HTTP event & example page not working"
Per previous issue report (https://github.com/firebug/netexport/issues/21), I am attempting to extract a single HAR export to capture the traffic that results in a tracking pixel returning a query string parameter.

Previous to HAR Export Trigger, I had this setup sort-of working with latest (non-developer) Firefox, Firebug 2.0.12, and NetExport 0.9b7 (code for this in the link above). The two mai

[2015-09-02 16:11] janodvarko commented on #2
HAR Export Trigger 0.5.0 beta 4 is available on AMO
https://addons.mozilla.org/en-US/firefox/addon/har-export-trigger/
(downloadable, but still awaiting review process)
Or you can download the XPI from release notes: https://github.com/firebug/har-export-trigger/releases

Please try the test page again. The error message was wrong, you need to set
extensions.netmonitor.har.contentAPIToken

Follow

[2015-09-02 16:46] thegreyfawkes commented on #2
Okay, let's start at the top.
1. Install/Enable HAR Export Trigger 0.5.0 beta 4 - **done**
   ![050 beta 4 enabled](https://cloud.githubusercontent.com/assets/10742793/9637499/c5554c90-5166-11e5-9e56-01b19bdecf4b.JPG)
2. Enable "extensions.netmonitor.har.contentAPIToken" - **done**
   ![apitoken enabled](https://cloud.githubusercontent.com/assets/10742793/9637526/fa0089fa-5166-11e5-801e-c39f0e38fd

[2015-09-02 17:10] janodvarko commented on #2
`extensions.netmonitor.har.contentAPIToken` must be set to "test" (no quotes)
This is the string token passed into API calls.

Honza

[2015-09-02 17:38] thegreyfawkes commented on #2
Changing the value to "test" made a difference, as the security check error no longer appears. However, nothing else is shown in the console either. Looking at your instructions, I also navigated to my firefox profile folders (C:\Users\me\AppData\Roaming\Mozilla\Firefox\Profiles) and there appears to be no "\har\logs" folder present. Just to be sure, I've searched my entire C:\ drive in case I som

[2015-09-02 17:47] janodvarko commented on #2
Is there any error displayed in the Browser Console? Ctrl+Shift+J

Perhaps you need to refresh the page?

Honza

[2015-09-02 17:59] thegreyfawkes commented on #2
I refreshed the page (in fact, I restarted the browser after refreshing and checking) and see "HAR log: <unavailable>" in the Ctrl-Shift-J console:
![console log - no har available](https://cloud.githubusercontent.com/assets/10742793/9639561/52d8d69e-5172-11e5-96cc-52beef60ca3d.JPG)

Literally right after I posted this, I now see this in the console:
![01 - har log being shown in console](https://

[2015-09-02 18:29] janodvarko commented on #2
Yes! It's the har log (JSON string) fetched through the API (parsed and logged as an object, see the page script in the Debugger panel, F12).

You can also go to <your-firefox-profile-dir>/har/logs and see HAR files (in case you have the enableAutoExportToFile pref set to true. Or if you pass `fileName` in the triggerExport method (e.g. on your test page)

Honza

[2015-09-02 19:03] thegreyfawkes commented on #2
Okay, awesome....I can see the log files created. I have two questions, though.
1. Your previous work with firebug and netexport allowed me to collect HAR files without having to do anything but visit a site. I'm not sure, but If I understand correctly, don't you need to put something into the site you want to collect from to trigger the HAR collection?
2. I was hoping the example site would give

[2015-09-03 06:39] janodvarko commented on #2
You can still collect HAR without putting a script into a site. Just set `devtools.netmonitor.har.enableAutoExportToFile` pref and a HAR file will be created automatically for ever loaded page.

Using HAR API is _not_ a requirement it's just an additional feature that makes some complex system a lot easier to integrate.

I am not sure what you mean by 'var options', but you can specify default nam

[2015-09-03 13:30] thegreyfawkes commented on #2
HI Honza,

Yes, this makes sense...mostly. My java knowledge is about 3-4 weeks old, so your confusion as to why I wanted to use the online HAR viewer to extract the info is because it was the easiest way I could think of and _not_ knowing a better way. Kind of like taking 3 left turns instead of 1 right - you get to the same place, but if you don't know how to "turn right", then the long, hard wa

[2015-09-03 13:33] janodvarko commented on #2
Excellent

I am closing this report, since all should be working fine now (and btw. the latest release is 0.5.0 beta 5 atm). Feel free to create a new report any time you are experiencing an issue.

Honza

[2015-09-03 13:33] #2 closed, assigned to janodvarko

[2015-09-11 10:23] ghost opened #3 "ReferenceError: HAR is not defined"
I'm using HAR Export Trigger with Firefox 42 on Linux.

The scenario in which I get this error message:
I open firefox from commandline with an URL to my website on which the script to export the HAR data is run after a timeout of a few seconds.
If the netmonitor in firefox is not open while the export function is run, I get the error message "ReferenceError: HAR is not defined".
If I open the net

[2015-09-11 10:30] janodvarko commented on #3
This is the right place to report the problem.

I believe that the Developer toolbox must be open and any panel selected. I would actually recommend to select different panel than the "Network" since this panel can slow down page load and influence collected timing data.

So yes, opening the Toolbox is necessary at the moment (it initializes the devtools backend services that are required by HAR E

[2015-09-15 20:52] raicabogdan opened #4 "Returning object from triggerExport"
Hello Honza,

I was able to make this working in the end in my browser. I only had to restart the browser after installing har-export-trigger.

Anyway, the issue currently is that I want to return the har.log object back to selenium, I don't want to have lots of files created, rather, I want get the data, parse it and dump it. `har-export-trigger` is really the best I've tested so far and its real

[2015-09-15 20:54] raicabogdan opened #5 "Missing pageTimings"
Hello,

Second issue which I thought I should create separately, is regarding the data collected, the `pages.pageTimings` has the values

[code]

Was this a 'todo' thing  or is there a meaning for this and I missed it?

Thank you.

[2015-09-16 14:28] janodvarko commented on #4
Set this pref to true to enable automation:
`extensions.netmonitor.har.enableAutomation`
(no file will be created)

This pref should specify the token (string) that you'll pass to API calls:
`extensions.netmonitor.har.contentAPIToken`
(e.g. `mySpecialValue`)

The following code triggers HAR export. No file created, HAR log returned in the callback:

[code]

Note that the developer Toolbox needs to

[2015-09-16 14:31] janodvarko commented on #5
This is a platform issue, `onContentLoaded` and `onLoad` timings are not available.
But, totally agree, this should be fixed!

Please file bugzilla report
https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox&component=Developer%20Tools%3A%20Netmonitor
(search before, not sure if this has been already reported)

Edit: please cross post the bugzilla report link here

Honza

[2015-09-16 15:51] raicabogdan commented on #4
It works fine when using firefox opened manually by me and running the simple code:

[code]

It returns just fine.

However if I start the script using selenium in python, it does not show anything in error log. And if I attempt to run it manually in the window opened by selenium, it only gets me with
`Promise { <state>: "pending" }`

This leads me to think something needs to be set in my selenium

[2015-09-16 15:57] janodvarko commented on #4
You should do:

[code]

Either `enableAutoExportToFile` or `enableAutomation` must be true to enable automated collecting of HTTP data. The difference is that `enableAutoExportToFile` auto-creates *.har file log while `enableAutomation` does not.

Honza

[2015-09-16 16:02] raicabogdan commented on #5
Seems there's already a bug report there:
https://bugzilla.mozilla.org/show_bug.cgi?id=1174091

Thanks !

[2015-09-16 16:20] raicabogdan commented on #4
I think it works! That setting seems to have been the issue. Testing and will report in a few minutes.

[2015-09-16 16:48] raicabogdan commented on #4
Test completed and works as expected. Thank you again for the help! :+1:

[2015-09-16 18:04] janodvarko commented on #4
Excellent!

Honza

[2015-09-16 18:04] #4 closed, assigned to janodvarko

[2015-09-16 20:15] raicabogdan opened #6 "high `connecting` value in har file"
Hello Honza,

This is probably again not an issue with the extension, but pointing out as it was really noticeable with a site of mine that has lots of resources served through Cloudflare.

As you may know, browser can re-use TCP connection, especially if keep-alive is enabled and honored. Again this may be a bug with the browser or maybe a setting in the browser that I need set, but I strongly be

[2015-09-17 04:54] janodvarko commented on #6
Interesting...

You might want to check the following prefs in your configs:

network.http.max-connections
network.http.max-persistent-connections-per-proxy
network.http.max-persistent-connections-per-server

Also, did you have e10s enabled/disabled for both?

Btw. the screenshot comes from a HAR diff tool or it's just manually created?
(it looks good)

Otherwise yes, the best is to file a bugzill

[2015-09-17 11:02] raicabogdan commented on #6
The specific prefs are identical.

It does seem like enabling e10s helps. At least when looking at the network, it does appear to show properly now.

I'll test in a moment in selenium.

The screenshot is manually made (have a big screen).

LE: Do you know the prefs related to e10s ? I only found:

[code]

but don't appear to be working with selenium.

Thanks

[2015-09-18 11:35] raicabogdan commented on #6
Hello again,

It seems like you can enable it using: `browser.tabs.remote` pref. But once its enabled, if you enable the web console in one page, and navigate to another website, the dev console closes, thus the plugin no longer works. (This is while using selenium).

Is there a way to keep the dev console active / enabled on all sites?

Thank you.

[2015-09-18 11:41] janodvarko commented on #6
I don't see this behavior.
The pref for enabling e10s  should be:  `browser.tabs.remote.autostart.2`

When I open the toolbox, select the Console panel and navigate the current tab to different location, the Toolbox stays open and the Console panel selected.

Honza

[2015-09-18 11:56] raicabogdan commented on #6
That's when using the browser manually. If you open it using selenium you'll find the Toolbox closing. Which is really frustrating.
1. If you don't use `browser.tabs.remote.autostart`, python with selenium works well, but causes the high connection time you see above.
2. if you do use `browser.tabs.remote.autostart`, python with selenium works when opening url, closes the previously open toolbox (

[2015-09-18 11:58] janodvarko commented on #6
It's weird, why the behavior would be different when used with Selenium?

What if you open the Toolbox again (by synthesizing F12 key press)?

Honza

[2015-09-18 12:51] raicabogdan commented on #6
I tried running the ActionsChain again after `webdriver.get(url);` but not working, rather I believe its not even being triggered. So I made another specific test case:

[code]

If not using e10s, I get:

[code]

but when using e10s, I get only:

[code]

and then just hangs. So something is happening with selenium not being able to understand multi-process tabs ?

So I thought of seaching a 'speci

[2015-09-18 13:16] raicabogdan commented on #6
Doesn't appear like I'll have any solution to this any time soon...

Do you think its possible to use netexport to trigger it from javascript instead for the har generation? I think that would be my only solution at this point :(

[2015-09-18 13:19] janodvarko commented on #6
You can try NexExport, note that it needs Firebug 2.*
(but it hasn't been maintained for long time)

Hope that bug will be fixed soon!

Honza

[2015-09-18 13:28] raicabogdan commented on #6
Thanks, will try. It can't get any worse than this ... hopefully not asking too much :(

[2015-09-18 13:35] janodvarko commented on #6
No problem!
Honza

[2015-09-19 18:07] raicabogdan commented on #6
Right, the meaning of 'it hasn't been maintained for long time' is very strong. Can't work with it unfortunately. However it seems pipeling in Firefox helps and I can use this extension.

Closing this issue as it does appear to be a browser thing in the end so no point keeping an issue here.

Thanks for your time on this issue.

[2015-09-19 18:07] #6 closed, assigned to nobody

[2015-09-19 18:08] janodvarko commented on #6
Cool, thanks for the update.

Honza

[2015-09-19 18:11] raicabogdan opened #7 "wrong response.content.mimeType in har"
Hello Honza,

There's a bug I found in my project and after checking it more, it seems the extension doesn't properly sets the mimeType in the response header.

I checked with "copy all as Har" and using the extension, the responses from the two is really different.

For example for the main request, the html file, you always get `text/plain`.

![wrong_mime_type](https://cloud.githubusercontent.co

[2015-09-20 12:20] raicabogdan commented on #7
I found the cause. Its again in the platform, in the `har-collector.js` file

[code]

Someone just set it to `text/plain` specifically to each response. I'm not entirely sure why. I've confirmed that that's the cause. Do I need to submit a bugzilla bug for this?

At this point I'm using a self-compiled aurora build and works alright for me.

[2015-09-21 07:52] janodvarko commented on #7
Ah, that's actually my mistake.

I created a bug report here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1206618

So, if I remove the following line it works  for me
file.mimeType = "text/plain";

Or did you make any other modification?

Honza

[2015-09-21 10:10] raicabogdan commented on #7
I added the following:

`file.mimeType = response.content.mimeType`

and it seems to work fine for me. To be honest I was lazy to test it fully, I was thinking since you are giving to `file.responseContent` the entire `response`, that it should be enough, but I didn't knew where else was the `file.*` object being used so I just altered it to include the `mimeType` also.

I think you should know be

[2015-10-13 15:34] janodvarko commented on #7
The
https://bugzilla.mozilla.org/show_bug.cgi?id=1206618

landed, so I am closing this report

Honza

[2015-10-13 15:34] #7 closed, assigned to nobody

[2015-10-14 15:33] EliSnow commented on #5
Couldn't this be fetched from `performance.timing`?

[2015-10-14 18:48] raicabogdan commented on #5
The purpose for a HAR generation script is to collect a well made HAR file format. Leaving the two values out is no longer a complete HAR format. Of course, what is doing now its using `-1` but that's a value that its incorrect. And using `performance.timing`, that's what I'm doing actually, but a bug in the script is a bug, and was reported.

[2015-10-15 15:39] janodvarko commented on #5
Using `performance.timing` sounds like a great idea. I'll investigate it...

Honza

[2015-10-30 01:27] joshhe opened #8 "Cannot get it to work with selenium with java"
Hi

I don't know what I did wrong.
I am using firefox 42.0b9 with HAR Export Trigger 0.5.0-beta.6. Here is code I used.

FirefoxProfile profile = new FirefoxProfile();
    profile.setPreference("devtools.netmonitor.har.enableAutoExportToFile", true);
    profile.setPreference("devtools.netmonitor.har.pageLoadedTimeout", 10000);
    profile.setPreference("app.update.enabled", false);
    System.out

[2015-10-30 03:19] joshhe commented on #8
Oops, looks like I need profile.addExtension(new File(extension)); I thought I don't need it if I install them manually. Once I have it in my code, it works! This tool is great! It made the waterfall automation so much easier!! Thanks!

[2015-10-30 12:42] janodvarko commented on #8
Awesome!

Honza

[2015-10-30 12:42] #8 closed, assigned to janodvarko

[2015-10-31 02:37] joshhe opened #9 "get Har Log as java object from selenium"
Hi,

I am wondering if there is way to get the har log as a string or object using selenium in java? Currently I would have to read from the saved har file and read that in as a string. I know we can trigger the har export through java script, but I don't know how to get it in the java code...

Something like this?
driver.get("https://google.com");
    if(driver instanceof JavascriptExecutor) {

[2015-11-02 07:07] nileshr commented on #5
Is there any workaround I can use for now to get these pageTiming values?

[2015-11-02 08:00] janodvarko commented on #5
The following script might help you.

Honza

[code]

[2015-11-02 12:31] janodvarko commented on #9
I don't have much experience with Java and Selenium, but could you just store the HAR log (as a text) inside an element on the page:

[code]

...and then do something like as follows in Java:

[code]

Honza

[2015-11-03 06:11] nileshr commented on #5
Thanks!

[2015-11-03 20:24] joshhe commented on #9
That's awesome! Thanks for the tip. It works!

[2015-11-03 20:28] janodvarko commented on #9
Excellent, out of curiosity, can you paste the full example here?
Honza

[2015-11-04 03:08] joshhe commented on #9
Here is code I have, it uses sessionStorage to store the har.
String harLog = null;
    if(driver instanceof JavascriptExecutor) {
      ((JavascriptExecutor) driver).executeScript(
              " console.log(\"here\"); var options = { token: \"test\", getData: true, jsonp: false}; console.log(\"here3\"); " +
                      "HAR.triggerExport(options).then(result => { console.log(result.da

[2015-11-04 12:51] soulgalore commented on #3
Hey @janodvarko ,
wow I love what you have done with this! It's super cool that it's finnally possible to automate HAR creation using Selenium. We have started looking into to start using the har-export-trigger in Browsertime/sitespeed.io to be able to collect the HAR from from Firefox but struggling with opening the toolbox automatically. Do you know if there's a away of configuring it to always

[2015-11-04 13:11] janodvarko commented on #3
I don't know about such option (asking around to double check), but the question is how this should work. Do you mean that the Toolbox should be opened automatically for the first selected browser tab (after Firefox start), or for every opened tab? Or there should be two options?

Also Toolbox opening is asynchronous, so does the automation need an event saying "toolbox-ready"..? (e.g. sent to the

[2015-11-04 13:23] soulgalore commented on #3
I mean for me it doesn't matter how, more that it would be clean if we could find a way to skip opening it. or at least find a way to automatically do it when we open a new browser.

[2015-11-04 15:47] janodvarko opened #10 "Fire har-page-ready event"
An event indicating that the page is loaded (addition to "DOMContentLoad" and "load" events) should be fired into the content scope.

The event should be fired at the same moment when the default auto-export-to-file logic is executed.

Honza

[2015-11-04 16:07] janodvarko commented on #3
OK, yes, I need to explore how to do all the automation without the Toolbox being open.

Honza

[2015-11-05 12:49] soulgalore commented on #3
We gonna try just using the F12 from Selenium for now, but if there's possible to get rid of that it would be perfect. Thanks again for all the great work!

[2015-11-05 12:55] janodvarko commented on #3
Great, thanks, let me know if there are any additional features (apart the toolbox-not-needed) that could yet simplify the automation.

Honza

[2015-11-06 13:12] janodvarko opened #11 "Export HAR without the Toolbox being open"
It should be possible to export HAR without the Toolbox being open. This would nicely simplify HAR export automation.

Honza

[2015-11-06 13:12] janodvarko commented on #11
Asking here:
https://groups.google.com/forum/#!topic/mozilla.dev.developer-tools/bYuBECwXvHU

Honza

[2015-11-06 13:13] janodvarko commented on #3
I reported a new issue related to toolbox-not-needed https://github.com/firebug/har-export-trigger/issues/11

Honza

[2015-11-06 13:14] janodvarko commented on #3
And I believe I can close this one.

Honza

[2015-11-06 13:14] #3 closed, assigned to janodvarko

[2015-11-06 13:43] soulgalore commented on #11
thanks looks promising! :)

[2015-11-10 15:58] JosephCastro commented on #11
Please!

[2015-11-10 17:51] janodvarko commented on #11
HAR API are not exposed to new tabs (about:newtab) in case e10s is on.
Caused by: https://bugzilla.mozilla.org/show_bug.cgi?id=1068400

The client  (target) isn't firing "navigate" (neither onTabNavigated) event when about:newtab tab is navigated to another location. There is only "close". So, there is no way how to expose HAR API to the new loaded page.

---

@soulgalore @JosephCastro: The proble

[2015-11-10 19:59] janodvarko commented on #9
Both these cases look like a bug. I'll investigate it

Honza

[2015-11-11 08:23] soulgalore commented on #11
The typical use case for us: We start the browser, load the URL directly in the default browser tab (we never open other tabs), collect some metrics using javascript and then close the browser.

Peter

[2015-11-11 10:19] dancowen opened #12 "Missing Post data"
I'm using Selenium to export data by firing the following JavaScript on the browser:

var options = {
  token: "test",
  fileName: "my test har file %Y, %H:%M:%S"  // Name of the file
};

HAR.triggerExport(options).then(result => {
  // The local file is available now
});

The resulting HAR file is missing the Post data sent in a form.  The same occurs when pasting the JavaScript into the console

[2015-11-11 18:55] janodvarko commented on #11
There is a new preference: extensions.netmonitor.har.autoConnect (set to false by default)
If you set it to true, HAR object should be available on every page by default.

There is an event 'har-api-ready' sent to the content window. You might want to handle it to know since when the HAR object is available. The HAR object isn't available immediately after a browser tab is opened, but it's there t

[2015-11-11 19:04] soulgalore commented on #11
Wow sounds great. If you could generate an xpi I can test it asap.

[2015-11-11 19:36] janodvarko commented on #11
http://janodvarko.cz/temp/har/harexporttrigger-0.5.0-beta.7.11.xpi

[2015-11-11 20:00] soulgalore commented on #11
Thanks! Tested but I couldn't get it to work, maybe I do something wrong? First: I've got a test I use where I push the F12 using Selenium, it worked in the old version but when I only switched to the new xpi (didn't changed anything else), it failed (meaning no HAR object), is that expected? If I switch back to the old xpi it works.

[2015-11-11 20:03] janodvarko commented on #11
Do you see any errors in the Browser Console? (Ctrl+Shift+J)?

[2015-11-11 21:30] soulgalore commented on #11
Have everything automated so it's hard to see, will look into it tomorrow. Did a quick test manually and then your test page worked for me, so it could be something on my side, but I need some time to go through it.

[2015-11-11 21:31] janodvarko commented on #11
Sure, thanks for testing!

[2015-11-11 22:31] JosephCastro opened #13 "Reference lost - ReferenceError: HAR is not defined"
Hi

I trying to get the HAR for youtube video, so what I do is basically the same actions for load HAR plugin (works with other sites):
- Load the browser
- Load the plugin
- Go to youtube.com for login (HAR reference exists)
- Wait for youtube.com redirection to home (HAR reference exists)
- Load the video page (HAR reference is lost)

I trying to lose the reference with other video sites, but on

[2015-11-12 06:41] janodvarko commented on #13
What version of Firefox and HAR Export Trigger do use use?

I tried the STR on Nightly with the latest source (HARExportTrigger, master) and it seems to be working for me. Also, do you open the Toolbox or do you have  extensions.netmonitor.har.autoConnect  pref set to true?

Honza

[2015-11-12 09:41] soulgalore commented on #11
ok, should the new version work in FF 42? When I test it now (I needed to clean my environment to get everything ok), I've set the following:
<img width="822" alt="screen shot 2015-11-12 at 10 39 07 am" src="https://cloud.githubusercontent.com/assets/540757/11115140/bd14c218-8929-11e5-91a8-c4e6b7f0ee17.png">

But I don't get it to work at all on the test page when I click on HAR export:
<img width

[2015-11-12 10:14] janodvarko commented on #11
Ah, it was a compatibility issue with Fx 42 (I didn't test it). Here is another fixed version:
http://janodvarko.cz/temp/har/harexporttrigger-0.5.0-beta.7.11.1.xpi
(your config is just fine)

Does this version work for you?

Honza

[2015-11-12 10:15] janodvarko commented on #13
Btw. I just fixed one compatibility bug with Fx42
Here is a test build
http://janodvarko.cz/temp/har/harexporttrigger-0.5.0-beta.7.11.1.xpi

@JosephCastro  Does it fix your problem?

Honza

[2015-11-12 10:41] soulgalore commented on #11
YES it works now, super! Works both testing manually and automated. Thanks, this is super cool.

[2015-11-12 11:22] janodvarko commented on #11
Excellent, thanks for verification.

Honza

[2015-11-12 11:22] #11 closed, assigned to janodvarko

[2015-11-12 12:01] janodvarko commented on #12
What Firefox and HARExportTrigger version are you using?
What preferences do you have set?

My test scenario is:
1) Load http://janodvarko.cz/har/tests/har-export-trigger/har-export-api.html
2) Set contentAPIToken and enableAutomation prefs
3) Open the Toolbox
4) Click the "Post Data"  button
5) Click the "HAR Export" button
6) Check out the Console panel and exported data. I can see the posted da

[2015-11-12 14:17] JosephCastro commented on #13
Firefox 42, HAR Export Trigger 0.5.0-beta6, toolbox open.
But without the extensions.netmonitor.har.autoConnect (false).

Now I testing the 0.5.0-beta7 without the pref and have the same problem, but setting the pref to true, sometimes works fine, other times HAR is not defined. It's a little bit random.

Maybe can be a JS from youtube or too many redirects ... but the plugin is attached to the ta

[2015-11-12 14:40] janodvarko commented on #13
Here is my config:
- Firefox 42
- harexporttrigger-0.5.0-beta.7.11.1
- extensions.netmonitor.har.contentAPIToken => test
- extensions.netmonitor.har.enableAutomation => true
  (no other HAR pref changed)

And here are my steps to reproduce the problem (STR):
1) Start Firefox
2) Open a new (empty) tab by clicking on the + button in the tab bar
3) Typing: youtube.com in the URL bar, pressing enter
4

[2015-11-12 15:23] JosephCastro commented on #13
Yes, your STR works.

Config:
- Firefox 42
- har-export-trigger-0.5.0.beta.7.11.1
- extensions.netmonitor.har.autoConnect => true
- extensions.netmonitor.har.contentAPIToken => test
- devtools.netmonitor.har.enableAutoExportToFile => true
- extensions.netmonitor.har.enableAutomation => true
- devtools.toolbox.selectedTool => console
- devtools.netmonitor.enabled => true

STR:
1.- Start firefox
2.-

[2015-11-12 18:27] janodvarko commented on #13
I can't reproduce it... :(

Do you see any errors in the Browser Console?
(except of the reference error)

Honza

[2015-11-13 14:53] JosephCastro commented on #13
Nope, no more errors.

It's random... I can't reproduce always. :c

[2015-11-16 19:11] JosephCastro commented on #13
Note: This happen when I get a video ad (not nonlinear or companions)

[2015-11-16 19:24] janodvarko commented on #13
What do you mean by nonlinear or companions?

Honza

[2015-11-16 19:39] JosephCastro commented on #13
They are three types of ads in youtube:
- Linear is a video ad.
- Nonlinear is the rectangle that shows in the bottom of the video.
- Companions is the box that show in the right side, out of the video.

[2015-11-18 09:41] dancowen commented on #12
Yes that works for me, but when triggering from Selenium we need to use JavaScript to trigger the file export.  When the JavaScript is used the file is missing the values sent to the server in the post request.

[2015-11-18 12:10] janodvarko commented on #12
@ukboris could this problem be rather related to Selenium?
If it works manually why it doesn't work in Selenium?

Honza

[2015-11-18 18:15] janodvarko commented on #13
@JosephCastro I am unable to see the issue on my machine.

Could you provide a simple online page that I could access and see the problem?

Honza

[2015-11-19 23:27] JosephCastro commented on #13
It's difficult to do that, but I will try it.

[2015-11-20 07:12] janodvarko commented on #13
Thanks!

Honza

[2015-11-30 13:18] minimedj opened #14 "How would I export whole history of my browsing?"
Hi there,

I just tested your extension and it works great for one page export scenario. I am wondering where it is possible to export all the data when "Enable persistent logs" feature is enabled: http://take.ms/ISapf

I use Python to work with Selenium on backend and here is my config:

[code]

The code I use to create HAR file:

[code]

So, now I get only last page in my HAR file. I want to exp

[2015-11-30 15:24] tobli commented on #13
I'm running Firefox and exporting HARs via Selenium (FF 42, harexporttrigger-0.5.0-beta.7), and had the same issue. I solved it like this:

[code]

If HAR isn't yet defined, wait for the har-api-ready event. Otherwise trigger the export right away.

[2015-11-30 15:31] tobli commented on #9
@chemicwepn - it should work if you use executeAsyncScript. I'm using a similar setup, but from node.js.
My async script is:

[code]

I guess in you case replace the callback(result.data) with

[code]

to indicate that the async process of generating and storing the har is done.

[2015-12-01 08:17] janodvarko commented on #13
Nice!

I don't know if this solves the reported issue for @JosephCastro, but I am sure the script will be useful for others.

I've put it on FAQ page:
https://github.com/firebug/har-export-trigger/wiki/FAQ#har-is-not-defined

Honza

[2015-12-01 10:24] janodvarko commented on #14
I believe it should be possible. I am just curious why exporting data in 'onload' or 'on unload' (of every page) and creating more HAR files isn't sufficient..?

Honza

[2015-12-02 13:27] JosephCastro commented on #13
I can't create a test for this error, I can't replicate the youtube error.
@tobli Nice, I will try it.

[2015-12-07 21:14] minimedj commented on #14
@janodvarko I need to see all AJAX requests in between, so export whole history is a very indispensable feature for my case.

Max

[2015-12-18 17:02] muznam opened #15 "How do i save Har Logs with URL as the name of the har"
How do i save Har Logs with URL i visit as the name of the har (e.g. www.codeproject.com.har)

[2015-12-22 20:34] boxlid opened #16 "HAR File does not save on forced termination of page loads"

[2015-12-30 13:34] renadeen commented on #14
Hi!
I need the same feature. If there are server redirects (302 http code), extension won't save save them to HAR (even with devtools.webconsole.persistlog == true).

[2015-12-30 13:38] romanovskiy-k commented on #14
Hi. I am also curious about exporting all network requests history. For example, in Selenium I need to capture a redirect chain, consisting of HTTP 30x and JS-based redirects that happened before webdriver.get() has finished. Unfortunately, the "persistlog" option does not help, although we have all the HAR log files in the log dir.

[2016-01-04 17:32] janodvarko commented on #16
No description provided?
Did you accidentally removed the description?

Honza

[2016-01-04 17:47] janodvarko commented on #15
Hm... this is currently not supported.

Any expectations about how the API allowing this should look like?

Honza

[2016-01-05 23:47] normseth commented on #14
+1 for exporting history, for the same reasons (observing redirects).   It would be great if the `devtools.webconsole.persistlog` preference had the same effect on the triggered export as it has in the netmonitor panel.

[2016-01-06 20:45] PenelopeFudd opened #17 "Question: Clarifying which Developer Toolbox you mean on the blog page"
Hi;

On the page http://www.softwareishard.com/blog/har-export-trigger/ , it says:

I'm trying to get the native FF 43.0 har exporting to work, and have set devtools.netmonitor.har.enableAutoExportToFile to true, but the .../har/logs directory hasn't been created.

Can you give a link or description to which developer toolbox needs to be opened, or how to open it?  If I search Google for it, it su

[2016-01-07 05:41] batmantest7 commented on #2
Hi thegreyfawkes,

"There would be 3 HAR exports: one for the initial page visit, one for logging into the site, and one for the product search that would result in the desire HAR export."

Were you able to successfully export har files using harexport manual trigger to a single .har file?

Thanks in advance.

[2016-01-07 08:18] janodvarko commented on #17
Developer Toolbox:
https://developer.mozilla.org/en-US/docs/Tools/Tools_Toolbox

I've also update the page.

Honza

[2016-01-07 08:18] #17 closed, assigned to nobody

[2016-01-07 10:48] #16 closed, assigned to nobody

[2016-01-11 11:34] batmantest7 commented on #9
Hi Team,

Is the issue for the case 2] solved?
2) http://cnet.com
This site is loaded twice on a single driver.get(url) call, at the end, when I try to get the har string, it's always null through the API call. However, when I have the "devtools.netmonitor.har.enableAutoExportToFile" set to true, I actually see two .har files been exported. I don't know why it doesn't work when I call it using the

[2016-01-19 15:22] ghost opened #18 "Promise for triggerExport is not coming back"
Hey,
I'm using this HAR plugin among with firefox add-on that is related to it.

when activating triggerExport with two then functions (as success and failure) mixed with my code the promise are not going into the success nether the error function (like he enters pending status).

The strange thing that when I execute it in the console directly at any time it's performing well!!

What could happen

[2016-01-26 09:03] BenoitPoulet commented on #15
Hello,
I would need this feature, it would be nice to setup this in "devtools.netmonitor.har.defaultFileName"

Something like : $website %y-%m-%d %H-%M-%S

Regards.

[2016-02-02 17:03] Jorge2M opened #19 "Page without HAR available"
Hi,
great work with those utilites for HAR manipulation.

I only have a problem with this plugin in a page concrete, these: https://shop.mango.com/checkout/paso1CheckoutPc.faces

In this page (and only in this page) the HAR is not available and I get a "Referece Error: HAR is not defined" when execute "HAR.triggerExport(options)" sentence.

The complete code JavaScript::
jsExec.executeScript(

[2016-02-04 11:44] Jorge2M commented on #19
I have detected many others pages with the same problem, for example:
http://www.mangooutlet.com/ES/mujer/prendas

[2016-02-04 12:00] soulgalore commented on #19
@Jorge2M you should add an event listener that waits for har-api-ready, checkout the comment here:

https://github.com/firebug/har-export-trigger/issues/13#issuecomment-160660173

[2016-02-04 12:26] Jorge2M commented on #19
I tested the @soulgalore solution but in my case the har-api-ready event don't start and the HAR object isn't never available even if I wait for minutes

I tested it from my webdriver code and directly with a standar Firefox44 installation + HAR trigger export plugin with the page http://www.mangooutlet.com/ES/mujer/prendas and I obtain the same KO result

[2016-02-04 12:33] soulgalore commented on #19
hmm ok. I tested http://www.mangooutlet.com/ES/mujer/prendas in coming Browsertime 1.0 (using the HAR export trigger) (https://github.com/tobli/browsertime/tree/1.0) running it like this:
<code>bin/bt.js --experimental.nativeHar -b firefox http://www.mangooutlet.com/ES/mujer/prendas</code> and that HAR file looked ok.

[2016-02-04 14:25] Jorge2M commented on #19
@soulgalone, sorry, you're right, the first time I insert directly the URL http://www.mangooutlet.com/ES/mujer/prendas in the browser then the HAR object is available. But then, if I click a link or I push F5 then the HAR is not available..

For example:
1) Insert http://www.mangooutlet.com/ES/mujer/prendas in the browser -> HAR is available
2) Click link "Mujer" -> HAR is not available

or

1) In

[2016-02-04 15:24] Jorge2M commented on #19
I have analized more the problem and i can view in what situation this appears. The HAR object is not available when the net traffic contains http and https connectiosns. That is, when firefox show the message "The connection used to fetch this resource was not secure" in some petition of the traffic.

[2016-02-04 21:07] brewt commented on #19
I've run into this as well.  Here are three more test cases:
- http://blog-indowebster.blogspot.com/
- http://www.botanic.com/
- http://boutique.botanic.com/

I thought it might be something on the page redefining the HAR object, but that doesn't seem to be the case.  Haven't had time to dig into it though.

[2016-02-05 09:07] Jorge2M commented on #19
Hi @brewt,

I tested these 3 URLs and runs Ok too for me.

I suspect than in the case of navigation in http://www.mangooutlet.com/ES/mujer/prendas the problem is the many XHR post petitions against https://mc.yandex.ru/...

Regards

[2016-02-05 17:40] throck commented on #15
:+1:  I'm just making the switch from netexport->har-export-trigger, and am missing the old '**name**+now.getFullYear()...' behavior.

Does https://developer.mozilla.org/en-US/Add-ons/SDK/High-Level_APIs/url provide any clues?

[2016-03-05 15:07] runaway518 opened #20 "Support external proxy"
Hello,
I'm using har-export-trigger with Selenium, everything work well!
I'm not sure the extension supported external proxy or not but I tried

[code]

and I saw that Firefox did not connect to the proxy.

[2016-03-17 12:48] amohideen opened #21 "Selenium Python test"
I wrote a simple selenium test driver with har-export-trigger, however, I don't see anything happening. I may be wrong.. please let me know.

`#! /usr/bin/python
import time
import os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

count = 0
while count < 5:
 profile = webdriver.FirefoxProfile()
 profile.add_extension("harexporttrigger-0.5.0-beta.4.xpi")

 #set fire

[2016-03-17 13:29] amohideen commented on #21
It worked, its just that the version I was using was old..
I replaced
`profile.add_extension("harexporttrigger-0.5.0-beta.4.xpi")`
with
`profile.add_extension("harexporttrigger-0.5.0-beta.7.xpi")` and downloaded the harexporttrigger-0.5.0-beta.7.xpi to my script directory.

[2016-03-24 14:26] Jorge2M opened #22 "Problem with extended characters in defaultLogDir"
I have a problem when I init the devtools.netmonitor.har.defaultLogDir with a string with extended characters.

In my case the path is dinamic:
fp.setPreference("devtools.netmonitor.har.defaultLogDir", FGenericas.getPathMethod(context, method));
fp.setPreference("devtools.netmonitor.har.pageLoadedTimeout", 1500); //Sólo tiene sentido para el save automático
fp.setPreference("devtools.netmonitor.ha

[2016-04-20 11:18] #21 closed, assigned to nobody

[2016-05-02 22:13] bit-bat opened #23 "Incorrect body size in HAR"
The content body size is reported incorrectly in certain cases. At least one of those cases is when the first call has a 302 response. HAR displays the body size of first 200 response as the body size for redirected response.

For example:
- First call with a 302 redirect (actual response body size 0)
- Second call with a 302 redirect (actual response body size 0)
- Third call gets 200 response (a

[2016-05-04 10:12] talwararjun4 commented on #14
Same requirement here. It would be great if a single har file contains data for all the pages navigated during a session of firefox. Working with a single har file per page is difficult. Har viewer also takes in a single har file only and I would like to see the results of my entire transaction and not only just 1 page at a time.

[2016-05-04 10:24] talwararjun4 opened #24 "Wrong Title in the pages:title elem in the har file"
for any page entry present in the har file, i always see the following -
"pages": [
      {
        "startedDateTime": "2016-05-04T14:56:25.225+05:30",
        "id": "page_1",
        "title": "New Tab",
        "pageTimings": {
          "onContentLoad": -1,
          "onLoad": -1
        }
      }
    ],
The page title is always "New Tab". Why is the actual title not picked up ?
Also, pageTiming

[2016-05-04 10:34] talwararjun4 opened #25 "Weird behaviour in har file generation"
For every page that is navigated to, 2 har files are getting generated.

The only difference in the 2 files is that some extra information related to page timings is present in the second har file. (Extra information present in the second har file - "cache": {}, "timings": {},"content": {
            "mimeType": "image/png", "size": -1,   "comment": "Response bodies are not included." },

[2016-05-05 07:40] talwararjun4 opened #26 "Missing events in the har file after the page is loaded"
I noticed that the HAR file is generated immediately on page load event completion. Imagine the following usecase -
 I navigated to gmail. the moment the page load event completed the har file got generated.

Now i opened my mail, then the sent folder and then opened the trash folder.

All these events do not result in a page load event firing and hence dont not get captured anywhere in the har fi

[2016-05-10 09:09] soulgalore opened #27 "Generates invalid HAR file for www.expressen.se"
Hi @janodvarko ,
we been testing the HAR export trigger a lot now in the coming version of https://github.com/tobli/browsertime and it works really good for us. There are some small tweaks but I mean it's the same problems with the HAR/waterfall inside Firefox. See when we can find the time to send PRs for those.

However, I found something today when I tested http://www.expressen.se (it's a Swedi

[2016-05-12 11:15] talwararjun4 commented on #5
@janodvarko
Is there any update on this?  is this fixed ?

[2016-05-18 15:46] svagi opened #28 "Is serverIPAddress property supported?"
Hello,

I'm trying to get `serverIPAddress` property with HAR-export-trigger (harexporttrigger-0.5.0-beta.9.xpi) instead of triggering DNS resolutions by myself. Problem is that `serverIPAddress` property is not defined for every entry, but if try to manually export HAR file from Firefox (46.0.1), `serverIPAddress` property is correctly exported to HAR file.

Am I missing something?
Thanks

[2016-05-18 17:02] brewt commented on #28
It's a bug in Firefox.  Here's a patch to Firefox's omni.jar:

[code]

Just haven't gotten around to filing a bug about it.

[2016-06-08 11:37] amohideen opened #29 "pageTimings are always -1"
I got har-export-trigger and selenium driver to create my HAR files. Everything works fine and HAR files are written as expected, however, in all HAR files below is the same. pageTimings are always -1. Any clues please. Attached are some HAR files for reference.

"pages": [
      {
        "startedDateTime": "2016-06-07T12:39:42.776+01:00",
        "id": "page_1",
        "title": "New Tab",

[2016-06-08 11:55] soulgalore commented on #29
Hey @amohideen you can hack from the navigation timing API, like this:
https://github.com/tobli/browsertime/blob/1.0/lib/core/engineDelegate/firefoxDelegate.js#L42-L46

[2016-06-08 12:07] amohideen commented on #29
Thanks Peter, I will give it a go.

[2016-06-11 14:38] soulgalore opened #30 "HAR export trigger + Selenium + Marionette"
Has anyone got the trigger working with Selenium and Marionette (Geckodriver) for Firefox 47?

With Firefox 46 + Selenium everything worked just fine for us, but we haven't started using the Geckodriver so we where caught off guard with the release of 47.

We use Selenium NodeJS version and I started by setting the Firefox options to use marionette, downloaded the latest version of Geckodriver (0.

[2016-06-20 17:47] romanovskiy-k commented on #14
Bump? Any progress on this?

[2016-06-21 10:28] janodvarko commented on #14
I am overloaded by work at this moment.
Any volunteers?
I can do review of provided patch.

Honza

[2016-06-21 11:39] soulgalore commented on #14
I maybe can take a look in a month or two but for me #30 is more important. Right now there's no way to  automate the plugin using Selenium for 47.0 and even if the problem with the Firefoxdriver is fixed for 47.0.1, it will be the same with Firefox 48 when Firefoxfriver is dropped.

[2016-07-07 11:43] #18 closed, assigned to nobody

[2016-07-31 22:29] brtsay commented on #30
Hi Peter,

Don't know if this is helpful or not, but I have gotten the trigger working using
Firefox 47
Selenium 2.53,
Geckodriver 0.9.0 + Marionette
Python 3.5.2

To use HAR export trigger, I download the .xpi from Firefox Add-ons and added it to a Firefox profile via add_extension.

[2016-08-01 06:23] soulgalore commented on #30
Hey @brtsay
thanks, so the event fires for you? I'll try again with updated versions tonight then.

Best
Peter

[2016-08-01 17:56] brtsay commented on #30
Hi Peter,

Yes, I believe so. To be honest, I'm a complete newbie with this kind of stuff. I have it set up to auto export the HAR file, which it does successfully.

EDIT: Actually, while auto export works, the har-api-ready event does not seem to kick in for me either.

[2016-08-02 14:03] soumyacr88 opened #32 "har-export-trigger not creating report for multiple pages"
har-export-trigger+selenium is not creating .har files for multiple pages.

I am using har-export-trigger along with selenium .I am expecting to creating har file for each page on till end of the scenario.But it is giving some random .har files that are not relevent.
also it is not giving the failure http service calls.

[2016-08-10 13:46] soulgalore commented on #30
Finally got this working. The problem was that with Selenium 2.53.x (javascript version) the HAR export plugin wasn't installed using Geckodriver (using the same code as for previous version of Firefoxdriver). Upgrading to latest beta version of 3 and Geckodriver 0.10.0 made it work.

[2016-08-10 13:46] #30 closed, assigned to nobody

[2016-08-16 13:18] Glavic opened #33 "Add-on is not verified"
I know this is FF "issue", but will be there any update from your end on extension to be verified?

[In notes for latest FF version 48.0: ](https://www.mozilla.org/en-US/firefox/48.0/releasenotes/)
- Add-ons that have not been verified and signed by Mozilla will not load

Or do you have any solution how to enable this extension?

I'm currently using your [latest release](https://github.com/firebug

[2016-08-16 14:09] Glavic opened #34 "HAR.triggerExport() exports requests who are still w8ing for response"
I have javascript script, that stores all HAR's to file:

[code]

Problem here is, that HAR is saved (and then cleared) even if response is still not available.
How can I save only HAR's than have full response?

[2016-08-16 21:43] soulgalore commented on #34
@Glavic checkout https://github.com/firebug/har-export-trigger/wiki/Examples#har-api-ready

[2016-08-17 10:15] Glavic commented on #34
@soulgalore I already read all the documentation on this repository. It is not that HAR API is not available; it is. HAR files are saved every second (see `setInterval(dump, 1000);` at the end). Problem is, that some files are saved without response, and  that is because `HAR.triggerExport()` is triggered after request is made, and before response is returned. And because I run `HAR.clear()` after

[2016-09-09 20:17] soulgalore opened #35 "Each request done twice in Firefox Nightly"
When I try the latest version of the plugin (harexporttrigger-0.5.0-beta.10.xpi) together with Firefox Nightly 51.0a1 (2016-09-08) (64-bit) I get most request twice:

<img width="1417" alt="screen shot 2016-09-09 at 22 13 55" src="https://cloud.githubusercontent.com/assets/540757/18401470/d500666c-76da-11e6-8c31-2194e6efa13e.png">

Running beta 7 with latest stable Firefox 48.0.1 works.

[2016-09-09 20:28] soulgalore opened #36 "HAR includes requests from the local cache"
If I access a page, and then do another access for the same URL, assets that are from the cache is in the HAR:

<img width="1419" alt="screen shot 2016-09-09 at 22 18 32" src="https://cloud.githubusercontent.com/assets/540757/18401579/6da47eda-76db-11e6-8931-ee1d5df23ad2.png">

The first request has wrong response code (it should be a 304, it is a 200). The length of the timings are 0 if they are

[2016-09-14 15:29] JosephCastro commented on #20
Hi
I use it with proxy, but using the preferences for the browser not with the HAR plugin.
The HAR isn't involved with the proxy, is involved with the request generated by the browser. The browser is involved with the proxy.

[2016-09-20 20:33] soulgalore opened #37 "Firefox 49 doesn't work with latest signed version"
Latest signed version is 7 but the latest released one is 10, is there a way you can @janodvarko can pull some strings so AMO will have the latest version?

[2016-09-22 21:44] soulgalore commented on #37
FYI: You can download the latest signed version from https://addons.mozilla.org/sv-se/firefox/addon/har-export-trigger/versions/ (beta 10) but the default page (https://addons.mozilla.org/sv-se/firefox/addon/har-export-trigger/) shows you beta 7.

[2016-09-22 21:44] #37 closed, assigned to nobody

[2016-09-23 09:43] marty90 opened #38 "HAR file not exported for some page using Selenium"
Hello,
I'm using Selenium to automate HAR creation.
I've a very simple setup (available at https://github.com/marty90/WebTrafficGenerator):
1. Selenium requests the page
2. A simple Javascript is executed to invoke HAR.triggerExport function.
Everything works except for some web page.
Sometimes the invocation to triggerExport ()is ineffective and no HAR file is created.
It seems to appear more fre

[2016-09-29 15:58] ayacub opened #39 "HAR export not working on FF 49+"
I've seen the older issues reported on `HAR is not defined` and tried all the solutions, but I can't make it work on Firefox 49+. I downgraded to FireFox 48.0b10 and it started working again.

I tried loading the test page http://janodvarko.cz/har/tests/har-export-trigger/har-export-api.html and that shows the same `HAR is not defined` error, no matter if I execute the trick in the FAQ's or not.

[2016-09-29 16:06] jweingarten commented on #39
This is also on FF 50.0b2.

[2016-09-29 16:31] soulgalore commented on #39
Hey @jweingarten the beta 10 is signed but you need to click versions on the mozilla download page, then you can see it. On the start page for the plugin it is beta.7. I'm using beta.10 with FF and it works fine.

Best
Peter

[2016-09-29 16:34] soulgalore commented on #39
ping @ayacub also :)

[2016-09-29 16:45] jweingarten commented on #39
That is very well hidden ... "Latest" version is still 07.  Going to https://addons.mozilla.org/en-US/firefox/addon/har-export-trigger/versions/ will allow you to download 10.

Thx ... lets close this issue. Sorry.

[2016-09-29 17:33] soulgalore commented on #39
@jweingarten I had the same problem, just luckily found the versions link one night :)

[2016-10-03 20:43] sobertram commented on #39
Just to add the direct link as I had to do some gymnastics to get to it even with the info provided above.

https://addons.mozilla.org/firefox/downloads/file/449485/har_export_trigger-0.5.0-beta.10-fx.xpi

[2016-10-16 04:37] codemonies commented on #14
I am encountering the same issue with redirects not being exported (even though they're present in the network tab).

Would really appreciate it if someone could implement this feature, since using Browsermob Proxy or Charles seem bloated for something that Firefox can now easily do.

[2016-10-17 09:37] AmnahRazzaki commented on #24
Were you able to fix this? am facing the same issue.

[2016-11-27 15:51] ghost commented on #18
Unfortunately, the issue didn't resolved. I've tried even the latest build .10, and even gone further to compile the code manually on my own PC.

The problem can be resolved by putting break point before HAR.triggerExport function and removing the breakpoint and press F8! Sound very strange!!

[2016-11-27 15:52] ghost commented on #18
I'm running it from an YouTube Player event cycle! Can this affect the scope? and what may be the solution of that?

[2016-12-18 09:36] balaji1359 opened #40 "Fire trigger without a page load"
Is it possible to fire the trigger without the pageload?

[2016-12-20 05:35] xmhubj commented on #38
I'm also experiencing this issue for some web pages.

[2016-12-30 08:35] xmhubj commented on #18
It has been resolved by Csaba! But the fix is not included in the xpi package.

[2017-01-04 10:08] nghoduong commented on #14
Hi,

I need  the same feature. I would like to get a single HAR file contains data of all the pages navigated during a session of Firefox with the persistence mode in Firefox-Firebug is enabled (When this option is enabled, the entries of the requests list are not deleted when reloading the page. Instead the are grouped by page request, which means, when reloading the page several times you will g

[2017-01-13 11:57] gavk34 opened #41 "HAR Export > Iframe Vimeo Video 'then' Property Permission Denied"
I have a page that I am attempting to export the requests for. This page contains multiple videos(HTML5, Vimeo).

I have the API script, that is executed using Selenium, to export the HAR once all videos have finished playing.

[code]

However when calling the above script after the Vimeo videos are playing I get the below error. This does not occur for the HTML5 videos.

The Vimeo video is within

[2017-01-20 02:39] nghoduong commented on #14
Hi,

I am still waiting for the implementation of this feature. Please help to implement it when you have time. I will be grateful for your help.

Duong

[2017-01-26 18:13] bputt commented on #14
+1

[2017-02-03 07:46] jangrewe opened #42 "har-api-ready not firing because of video?"
I was kindly asked by the SiteSpeed.io guys to open a bug with you guys, as i'm having trouble to use Firefox in their Docker image to generate metrics for our site.

This is the command line i'm using:
[code]
and it crashes with this error:
[code]

It works fine if i use only 1 run, but crashes when using >1 run. The default is 3 runs, to get a median for the metrics.
Sometimes it even crashes wi

[2017-02-15 09:41] meskadam commented on #18
I'm also hitting this issue. When can the fix be released in xpi package?

[2017-02-15 10:04] ghost commented on #18
I noticed that with older Firefox (45) it's working or even older than that. I'm not sure

[2017-02-16 03:36] meskadam commented on #18
I am using Firefox 46. I tried downloading the code from github and building it, but the build hangs. Will appreciate if new build of the plugin is released!

[2017-02-28 11:05] meskadam opened #43 "Promise for har export in pending state"
I am facing the issue similar to written in https://github.com/firebug/har-export-trigger/issues/18. This issue seems like resolved in Dec.
Can somebody please release a new version of this plugin? Thanks for all your help.

[2017-02-28 11:06] meskadam commented on #43
<img width="965" alt="screen shot 2017-02-28 at 4 36 08 pm" src="https://cloud.githubusercontent.com/assets/25790543/23403006/0d94ae54-fdd4-11e6-87e4-472a91004458.png">

[2017-03-07 16:27] yurayurau opened #44 "har-export-trigger does not export serverIPAddress and connection params"
I'm trying to get serverIPAddress property with HAR-export-trigger (harexporttrigger-0.5.0-beta.10.xpi) Problem is that serverIPAddress property is not defined for every entry, but if try to manually export HAR file from Firefox (47.0.1, 51.0.1), serverIPAddress property is correctly exported to HAR file.
See attachment- auto and manual

[2017-03-21 13:45] biphobe commented on #42
@soulgalore @jangrewe  I don't think that the video is the issue here. I'm experiencing the same bug when trying to test my application (which doesn't use any kind of video).

My runtime: `Versions OS: win32 6.1.7601 nodejs: v6.8.1 sitespeed.io: 4.7.0 browsertime: 1.0.0-beta.31 coach: 0.31.0`

Even checking out the Google and running `sitespeed.io http://google.com -b firefox --summary --browserti

[2017-03-21 14:00] soulgalore commented on #42
Hey @biphobe can you create an issue at [sitespeed.io](https://github.com/sitespeedio/sitespeed.io/issues) and we can help you out there. Jans original issue was that it didn't work with that specific page. For you I think it is more a generic bug, since it doesn't work at all for you. We always prefer if you run the Docker container since then it's easier for us to reproduce, but go over to the o

[2017-04-23 07:43] soulgalore opened #45 "Firefox 57 and later?"
Hi!
I know we are ahead of time but I wanna check about the plan for the extension or another way to get a HAR when we reach [Firefox 57 and it only supports WebExtensions](https://blog.mozilla.org/addons/2017/02/16/the-road-to-firefox-57-compatibility-milestones/)? I would love to contribute or help out if I can.

Best
Peter

[2017-04-24 12:53] janodvarko commented on #45
The extension should be refactored and based on WebExtensions API
https://developer.mozilla.org/en-US/Add-ons/WebExtensions

It might happen that it needs some new WebExtension API. In such case we need to implement prototype of the required API as WebExtension experiment and suggest to make it built-in (there is a mailing list where new API are being suggested).
https://webextensions-experiments.

[2017-04-24 13:21] soulgalore commented on #45
Cool, both me and @tobli is interested in helping out (we need it for Browsertime). Chrome uses  network that we miss in Firefox so far: https://developer.chrome.com/extensions/devtools_network with a getHAR() function.

I'll check out the experiments, thanks!
Best
Peter

[2017-04-24 13:41] janodvarko commented on #45
I see, sounds good!

getHAR() should be implemented as part of this bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1311177

Honza

[2017-04-24 21:41] soulgalore commented on #45
Cool, let me try to see if I can do something like what we have in HAR Export Trigger but for Chrome for now using WebExtension, can probably do something next week, will keep you posted.

[2017-05-02 10:24] soulgalore commented on #45
I've started with like the simplest version just injecting a content script, talking to the background page, sending a message to devtools and then send back the HAR: https://github.com/soulgalore/har-webextension

There's a lot more that needs to be done (I just wanted to test want I could do now), and really we need to be able to get the HAR without having the devtools-panel open and I guess tha

[2017-05-05 21:03] crackoner opened #46 "HAR is not defined"
Hi,
I feel like this has been answered several times already, but none of the threads I looked at solved my issue.

I'm running Firefox 53.0.2 on OSX and have the HAR Export Trigger 0.5.0-beta.7 add-on installed.

The following Firefox settings are set:

  devtools.netmonitor.har.enableAutoExportToFile => true
  extensions.netmonitor.har.contentAPIToken => test
  extensions.netmonitor.har.enableAu

[2017-05-05 21:11] soulgalore commented on #46
Hi @crackoner
start with upgrade to beta-10 and see if that helps: https://github.com/firebug/har-export-trigger/issues/37#issuecomment-249037171

Best
Peter

[2017-05-05 21:15] soulgalore commented on #46
Hmm it seems like only beta-7 is available at addons. You can download a signed beta-10 from https://github.com/sitespeedio/browsertime/tree/master/vendor

[2017-05-06 02:05] crackoner commented on #46
Hi Soulgalore,
Thanks for the quick reply.  The beta-10 version fixed the issue!  I'm able to see the HAR object now.  Looking forward to trying this out!

Thanks again

[2017-05-06 02:33] #46 closed, assigned to nobody

[2017-05-08 18:33] crackoner commented on #30
Hi Soulgalore,
Could you share your Selenium + har-export-trigger example?  I'm able to use the HAR-export-trigger module manually in a firefox console, but when I run it in my nodejs selenium script it says "HAR not defined".

I believe the issue might be caused because I'm not pointing to the firefox browser instance that selenium creates.  But I'm not sure.

[code]
Thanks,
Mike

[2017-05-08 18:53] soulgalore commented on #30
Hi @crackoner

here you can check the JavaScript we run (to get the HAR): https://github.com/sitespeedio/browsertime/blob/master/lib/core/engineDelegate/firefoxDelegate.js

And here we install the plugin:
https://github.com/sitespeedio/browsertime/blob/master/lib/core/webdriver/firefox.js#L228-L236

Best
Peter

[2017-05-12 17:35] 00h-i-r-a00 opened #47 "har files not being generated + HAR not defined"
Hello,

I am using Firefox Mozilla Firefox 53.0.2 with HAR Export Trigger version 0.5.0-beta.7 and I have the following settings in the browser:
[code]
However, no har file is generated inside the folder that I specify. When I turn on the console in the devtools and type `HAR`, it says `ReferenceError: HAR is not defined`.

Could anyone help me debug this error?

[2017-05-12 17:42] soulgalore commented on #47
Hi @00h-i-r-a00 you need beta-10 check old issues and you can find how to get hold of it. Best Peter

[2017-05-12 19:03] 00h-i-r-a00 commented on #47
@soulgalore Its working now, thanks a lot!

[2017-06-13 12:28] Badr999 opened #48 "Are VideoDuration, VideoLoaded, NbrBufferingproperty, Timings.Dns, Timings.Connect supported ?"
Hello,

I'm trying to get **VideoDuration**, **VideoLoaded**, **NbrBufferingproperty** with HAR-export-trigger (harexporttrigger-0.5.0-beta.10.xpi). Problem is that VideoDuration, VideoLoaded, NbrBufferingproperty properties are not defined in the HAR.

The same for **Timings.Dns**, **Timings.Connect** but are not defined for each entry.

Am I missing something?
Thanks

[2017-06-16 18:03] Saumitra5 opened #49 "Reference ERROR: HAR is not defined"
Hi,
I feel this issue is being solved previously but i tried all the previous solutions and nothing is working

I am running the following
Firefox 53.0.3 on Window
HAR Export Trigger 0.5.0-beta.10 as add-on installed on Firefox
selenium 3.4.3
geckodriver v 0.16.1

The following Firefox settings are set:
devtools.netmonitor.har.enableAutoExportToFile=>false
extensions.netmonitor.har.contentAPIToken

[2017-06-18 02:49] nmcconom commented on #49
I see the same here and have been trying to use http://janodvarko.cz/har/tests/har-export-trigger/har-export-api.html but it doesn't work for me

[2017-06-22 06:41] sjpotter commented on #49
on startup from cmdline I see, repeated over and over again

[code]

[2017-06-22 07:01] sjpotter commented on #49
related to https://github.com/firebug/websocket-monitor/issues/61 which points to sdk change https://github.com/firebug/firebug.sdk/commit/bd43add69503dd8b421f8768b2d048bae9642271

[2017-06-22 12:03] PnmR opened #50 "How to trigger Har export on java project?"
Hi!
Right now i have devtools.netmonitor.har.enableAutoExportToFile to true thus a new HAR file is created for every loaded page automatically but I am only interested on getting har file for specific http request or for a specific load page. I came across a script to trigger har export on javascript but how do we do it in java? Also I could not make the test page run : http://janodvarko.cz/har/te

[2017-07-07 13:46] neilD2 commented on #39
Can we get version 10 signed please, as it is tricky to get it installed, and will be easier to install programatically, thanks.

[2017-07-11 18:02] #48 closed, assigned to nobody

[2017-07-18 13:20] jimmy-ly00 commented on #50
I am also getting the same error, I am wondering if it is because I am using Firefox 54

[2017-08-03 00:13] jenniferdnn commented on #50
Hi, Any body still work on this project?

[2017-08-03 19:51] jenniferdnn opened #51 "how to install version 10"
The latest add on version is 7, how can I install 10-unsigned version.
I got error from console, "HAR is not defined".

[2017-08-03 20:25] jenniferdnn commented on #51
I installed 10 on firefox developer edition 55.0b14 (64-bit). Test the http://janodvarko.cz/har/tests/har-export-trigger/har-export-api.html, I still get har is not defined error.

[2017-08-07 09:22] janodvarko commented on #50
All XUL-based or Add-on SDK based Firefox extensions are deprecated in favor of WebExtensions so, this little tool needs to be rewritten to a WebExtension.

I am planning to rewrite it, but it might take some time (there are other extensions waiting for the same) and so, anyone who's willing to jump in and help is welcome.

Honza

[2017-08-07 09:24] janodvarko commented on #50
Btw. the move to WebExtensions starts in Firefox 57 (Nightly these days)

Honza

[2017-08-09 18:18] jenniferdnn commented on #50
Hi Honza,

I got all your 3 messages. Thank you so much. I am not familiar with developing add on SDK. But I am very interested in. If I want to take a look. Do you have any document to help me get start?

Thanks,
Jennifer

From: Jan Odvarko [mailto:notifications@github.com]
Sent: Monday, August 07, 2017 2:22 AM
To: firebug/har-export-trigger <har-export-trigger@noreply.github.com>
Cc: Jennifer Yu

[2017-08-10 06:36] janodvarko commented on #50
You might look at this MDN page:
https://developer.mozilla.org/cs/Add-ons/WebExtensions

Honza

[2017-08-11 05:15] soulgalore commented on #50
I've made https://github.com/soulgalore/har-webextension as a POC just to see how different parts needs to communicate. What's missing for our use case (so we can build the rest of what's needed to mimic HAR export trigger) is a way to get the HAR without opening the devtools tab. It is crucial for us to be able to get it without opening the tab because we also record a video of the screen to be a

[2017-08-11 23:51] codersbrew opened #52 "HAR Export Timing out on certain websites"
Firefox: 52.0.2
Latest Selenium
Python 2.7.X
Har Trigger Exporter beta 10

The basic flow, I run a python web driver headless firefox. In firefox I add the exporter extension and go to a website (http://nbcnews.com). I then call the async script below. Normally, the HAR is pushed to the directory I wanted and all is fine, but every so often the HAR trigger script will timeout and return an error o

[2017-08-12 00:56] codersbrew commented on #52
Seems like this is the cause.

https://bugzilla.mozilla.org/show_bug.cgi?id=1383844

[2017-08-16 06:25] soulgalore opened #53 "Compatibility issues with Firefox 55?"
We tried to upgrade from FF 54 to 55 yesterday and all tests fail on 55 because it seems like the HAR export trigger callback never happens (it times out). I've tested on https://www.sitespeed.io and https://www.wikipedia.org/ and got the same result.

[2017-08-17 06:03] stephendonner commented on #53
Apologies if this isn't helpful/already known..

Not sure about the callback, but using http://janodvarko.cz/har/tests/har-export-trigger/har-export-api.html with https://addons.mozilla.org/firefox/downloads/file/449485/har_export_trigger-0.5.0-beta.10-fx.xpi on Build identifier: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:55.0) Gecko/20100101 Firefox/55.0, I get the following:

22:53:54.414

[2017-08-17 06:19] stephendonner commented on #53
@soulgalore not to speak for him, but to speed up the flow of information, I've just confirmed with Jan in #devtools that "the extension needs to be transformed into a WebExtension, first" - https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_legacy_Firefox_add-on

[2017-08-26 14:01] soulgalore commented on #53
It started with 55, it worked in 54 I know that for sure. I had a go to start to debug (using FF 56 developer since there's no way to run unsigned without using dev version right) and I can see that I get the same error. There's some empty try/catches that swallow errors and I could see one of them failing (=get one error) but I'm not sure how it used to work like (maybe the swallowed error where

[2017-08-31 09:59] stephendonner commented on #53
@digitarald: is there anyone you know who could take a look at this a bit more in-depth/try to scope out work?  Thanks!

[2017-08-31 11:04] soulgalore commented on #53
Another way could be to do what [WebPageTest do](https://github.com/WPO-Foundation/wptagent/blob/master/internal/support/firefox_log_parser.py), parsing the moz log and make a HAR of that, but then every flavor of Selenium needs to have it own hack to generate and make the HAR available.

[2017-09-01 05:17] digitarald commented on #53
@janodvarko we talked about that in the past, automation around HAR. What are your thoughts on workaround?

[2017-09-01 09:07] janodvarko commented on #53
@digitarald one option is using auto-export. All you need is to set `devtools.netmonitor.har.enableAutoExportToFile` to `true` (about:config)

This option doesn't offer such flexibility as exporting the `HAR` API into the page, but provides a way how to automate things.

I'd like to put support for HAR on the list of things for Q4, let's discuss next week.

Honza

[2017-09-12 07:08] soulgalore commented on #53
@digitarald @janodvarko did you have time to talk about exporting the HAR, is it anyway I could help?

[2017-09-15 04:29] digitarald commented on #53
@soulgalore did you check out the pref @janodvarko mentioned? It has some control over where the file is stored as well.

To have a solution medium-term we are in the process of defining the scope of work for Q4 for import/export in the Netmonitor UI. It would help to understand the flow you have for Firefox and/or other tools right now as a user story:

- How did you so far export HAR files from

[2017-09-15 08:48] soulgalore commented on #53
@digitarald I think @janodvarko meant it is the solution to do that in 57 when we can hack a WebExtension? The current versions don't work in 55/56 and it doesn't matter if you try to get it through JS or write to disk. I tried to debug and could see that there's a try/catch that swallows an error, but I'm having a hard to rollback to older FF to see if that was the case before too. WebExtensions

[2017-10-04 09:52] fmrahman commented on #53
@janodvarko First of all thanks very much for providing the wonderful har-export plugin which exactly matches our requirements. We have been using this plugin for the last one year and the experience is very cool.

But with this new Firefox changes using gecko driver and selenium webdriver 3.x, the har-export trigger is not working. HAR file could not be dumped with Firefox 55.0 and selenium-serve

[2017-10-04 12:02] janodvarko commented on #53
Hi, thanks, I am glad the extension works for you!
I am working on new version based on new WebExtension API introduced in Firefox. It should be ready in (just starting) Q4 2017.

Jan Honza  Odvarko

[2018-02-27 09:44] janodvarko commented on #53
Just for the record, the new WebExtension is available here:
https://github.com/devtools-html/har-export-trigger

Honza

[2018-02-27 09:44] #53 closed, assigned to nobody

[2018-05-09 07:08] #34 closed, assigned to nobody

[2018-05-09 07:08] #33 closed, assigned to nobody

[2018-08-24 12:56] alex4200 opened #54 "har export trigger does not work at all ..."
I tried the description given in the main page: http://www.softwareishard.com/blog/har-export-trigger/

and created the following script:

[code]

I downloaded the extension from [this page](https://github.com/firebug/har-export-trigger/releases) and put it into the firefox extension folder (which I need to do later as the tests are running inside a docker image. So I need a way to copy and enable

[2018-08-24 18:38] soulgalore commented on #54
Hi @alex4200 if you are using later versions of Firefox you need to use https://github.com/devtools-html/har-export-trigger to get the HAR. If I remember correctly firebug/har-export-trigger only works in FF 54 or earlier.

For copying/installing the plugin in Docker, you can mount the plugin from the outside of the container and add the extension something like [this](https://github.com/sitespeed

[2019-01-25 11:49] ravikirankulkarni9 opened #55 "Request before page redirection to error page are not captured."
Hi,

I am using selenium integrated with har-export-trigger to capture requests for my web page,
I have set below preferences>
"devtools.netmonitor.har.includeResponseBodies", true;
"extensions.netmonitor.har.enableAutomation", true;
"devtools.webconsole.persistlog", true
"extensions.netmonitor.har.contentAPIToken", "test"
 "extensions.netmonitor.har.autoConnect", true
"devtools.netmonitor.har.def

[2021-07-18 20:06] askumar2903 opened #56 "Har export trigger File name formats"
Are there any other format to specify in default filename? other than hostname and date?